body {
  background: #231f20;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  position: relative;
  margin: 30px auto;
  text-transform: uppercase;
  width: 550px;
}

h1::before,
h1::after {
  content: "";
  display: block;
  position: absolute;
  background: #4a90e2;
  width: 25px;
  height: 30px;
}

h1::before {
  left: 0;
  top: 9px;
  border-radius: 90% 00% 0% 90%;
}

h1::after {
  content: "";
  border-radius: 0% 90% 90% 0%;
  top: 9px;
  right: 0;
}
